@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;  
}
#chatForm {
    margin:auto ;
    margin-top: 10px;
    z-index: 3;
    text-align: center;
    max-width: 26vw;
}
.scomm {
    height: 80vh;
    max-width: 26vw;
    width: 30vw;
    overflow-y: auto;
    z-index: 5;
}
.opc {
    background-color: black;
}
.replie {
    background-color: darkgray;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
#showReplies {
    width: 30vw;
    max-width: 26vw;
    visibility: hidden;
    position: absolute;
    top: 15%;
    left: 37%;
    z-index: 1;
    background-color: red;
}
.hot{
    visibility:visible;
}
#chat {
    width: 25vw;
    }
    #showc {
        display: flex;
        justify-content: center;
        text-align: center;
        position: fixed;
        bottom: 100px;
   }
   .chatS {
    padding-top: 5px;
    border-radius: 0px 0px 10px 10px;
    width: 25vw;

   }
   .repll {
    border-radius: 5px;
   }
   .delPost , .showProfile, .replyComment,.showReplies,.replyPComment {
    font-size: 10px;
   }
   #com {
    overflow-wrap: break-word;
    font-style: italic;
    text-transform: capitalize;
    font-size: small;
    padding: 3px;
   }
   .user {
    
    margin-top: 10px;
    padding: 10px;
    height: 50px;
 }
 .bod {
    border: 1px solid red;
    margin: 4px;
    border-radius: 5px;
 }

   body {
    height: 100vh;
    background-color: #f2f2f2;
 
   }

.rep{
    overflow-y: visible;
    margin: auto;
    width: 30vw;
    max-width: 30vw;
    height: 100vh;
    max-height: 100vh;
    background-color:white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    
}
@media screen and (max-width:375px) {
    .rep {
        min-width: 300px;
        min-height: 700px;
    }
    .scomm {
        min-width:300px;
        overflow-y: scroll;
    }
    #chatForm {
        min-width: 200px;
    }
    #chat {
        min-width:200px;
        margin-right:20px;
        font-size: small;
    }
    #showReplies {
        min-width: 300px;
        left: 10%;
    }
   
}